= render :partial => "single_venue_script", :locals => { :venue => @venue }

%h1
  = @venue.name
:plain
  <div id="map_canvas" style="width:50%; height:50%"></div>
  
%p
  = link_to "Check in Here", new_venue_checkin_path(@venue)
  
- @venue.checkins.each do |checkin|
  %p
    = checkin.user.nickname



%p
  = link_to "Add a Tip", new_venue_tip_path(@venue)
  
- @venue.tips.each do |tip|
  %p
    = tip.body
    %br/
    (Added by:
    = tip.user.nickname
    )

